Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

Fix Code of Conduct link
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: prettier --write

Fix link in Code of Conduct checkbox
  .github/ISSUE_TEMPLATE/discussion.yml
Due: prettier --write

Code of Conduct linkfix
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: prettier --write

📝 Update code of conduct link (#1964)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/discussion.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: prettier --write

📝 Update gitmemoji related tool url to maintained repo
  packages/website/src/pages/related-tools.tsx
Due: none

🙈 Ignore turbo cache
  .gitignore
Due: none

🎉 Expose gitmoji data to AI agents via MCP
  packages/mcp/.lintstagedrc.json
  packages/mcp/README.md
  packages/mcp/build.config.ts
  packages/mcp/package.json
  packages/mcp/src/__tests__/index.spec.ts
  packages/mcp/src/index.ts
  packages/mcp/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

♻️ Build with static export
  .gitignore
  packages/website/next-env.d.ts
  packages/website/next.config.js
  packages/website/package.json
  packages/website/public/_redirects
  packages/website/scripts/generate-api.js
  packages/website/src/pages/_app.tsx
  packages/website/src/pages/api/gitmojis/index.ts
  packages/website/src/pages/api/gitmojis/schema.ts
  packages/website/src/pages/contributors.tsx
  pnpm-lock.yaml
Due: prettier --write

🐛 Fix text overflow in emoji cards on Firefox
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
Due: none

📝 Related Tools: add neo-gitmoji
  packages/website/src/app/related-tools/page.tsx
Due: none

:sparkles: adds raycast extension
  packages/raycast/assets/gitmoji-brand.png
  packages/raycast/eslint.config.js
  packages/raycast/package-lock.json
  packages/raycast/package.json
  packages/raycast/raycast-env.d.ts
  packages/raycast/src/gitmoji.tsx
  packages/raycast/tsconfig.json
Due: prettier --write

:package: add raycast package
  pnpm-lock.yaml
Due: none

🌐 add emoji #2006
  packages/gitmojis/src/gitmojis.json
  packages/website/next-env.d.ts
Due: prettier --write, jsonlint -V src/data/schema.json

Update AGENTS.md
  AGENTS.md
Due: prettier --write

♻️
  packages/website/eslint.config.mjs
Due: none

📝 Update gitmemoji related tool url to maintained repo
  packages/website/src/app/related-tools/page.tsx
Due: none

📝 Add gitoryx to related tools
  packages/website/src/app/related-tools/page.tsx
Due: none

✨ Add robot emoji for AI-generated code
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🐛 Fix incorrect HTML entity for t-rex gitmoji.
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json
