Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

🔖 3.13.0
  package.json
Due: prettier --write

feat: :sparkles: Adding Broom Gitmoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

➕ Install eslint deps
  package.json
  yarn.lock
Due: prettier --write

🔧 Setup eslint
  package.json
Due: prettier --write

🎨 Fix eslint issues
  src/__tests__/pages.spec.js
  src/components/Button/index.js
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/index.js
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Toolbar/ListModeSelector/index.js
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
  src/components/Icon/definitions.js
  src/components/Icon/index.js
  src/components/Layout/Footer/index.js
  src/components/Layout/Hamburger/CloseIcon/index.js
  src/components/Layout/Hamburger/MenuLink/index.js
  src/components/Layout/Hamburger/OpenIcon/index.js
  src/components/Layout/Header/Logo/Status/Joy/index.js
  src/components/Layout/Header/Logo/Status/Loved/index.js
  src/components/Layout/Header/Logo/Status/Sexy/index.js
  src/components/Layout/Header/Logo/Status/Smiling/index.js
  src/components/Layout/Header/Logo/Status/Sunglasses/index.js
  src/components/Layout/Header/Logo/Status/Tongue/index.js
  src/components/Layout/Header/Logo/Status/index.js
  src/components/Layout/Header/Logo/index.js
  src/components/Layout/Header/index.js
  src/components/SEO/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  src/pages/related-tools.js
Due: prettier --write

🔧 Add `react.runtime=automatic` to flowconfig
  .flowconfig
Due: none

🎨 Fix flow issues
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
  src/components/SEO/index.js
  src/pages/contributors.js
Due: prettier --write

📸 Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.js.snap
Due: none

🙈 Update gitignore
  .gitignore
Due: none

✨ Setup `eslint` (#1168)
  .flowconfig
  .gitignore
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/Button/index.js
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.js.snap
  src/components/ContributorsList/index.js
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Toolbar/ListModeSelector/index.js
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
  src/components/Icon/definitions.js
  src/components/Icon/index.js
  src/components/Layout/Footer/index.js
  src/components/Layout/Hamburger/CloseIcon/index.js
  src/components/Layout/Hamburger/MenuLink/index.js
  src/components/Layout/Hamburger/OpenIcon/index.js
  src/components/Layout/Header/Logo/Status/Joy/index.js
  src/components/Layout/Header/Logo/Status/Loved/index.js
  src/components/Layout/Header/Logo/Status/Sexy/index.js
  src/components/Layout/Header/Logo/Status/Smiling/index.js
  src/components/Layout/Header/Logo/Status/Sunglasses/index.js
  src/components/Layout/Header/Logo/Status/Tongue/index.js
  src/components/Layout/Header/Logo/Status/index.js
  src/components/Layout/Header/Logo/index.js
  src/components/Layout/Header/index.js
  src/components/SEO/index.js
  src/pages/_app.js
  src/pages/_document.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  src/pages/related-tools.js
  yarn.lock
Due: prettier --write

🐛 Fix dark theme inconsistencies
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/Toolbar/styles.module.css
  src/utils/theme/theme.css
Due: none

🐛 Fix dark theme inconsistencies (#1174)
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/Toolbar/styles.module.css
  src/utils/theme/theme.css
Due: none

🔧 Enable `dependabot` for `github-actions`
  .github/dependabot.yml
Due: none

🔧 Enable `dependabot` for `github-actions` (#1175)
  .github/dependabot.yml
Due: none

🔧 Adjust `dependabot` labels
  .github/dependabot.yml
Due: none

:sparkles: Emoji :mailbox: added (carloscuesta#1188).
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update gitmoji-proposal.yml
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

:pencil2: (issue template): Fix grammar and markup
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

:memo: (issue template): Improve what/how question display
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

:memo: (issue template): display examples on a table
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

📝 Update gitmoji proposal issue template (#1198)
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

✏️ Added some missing dots to the description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🩹 Updated test snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

✏️ Added some missing dots to the description (#1206)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Update related tools docs to include Raycast extension
  src/pages/related-tools.js
Due: prettier --write

✅ Update snapshot for related tools
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

📝 Add raycast to related tools page (#1220)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

📝 Update build badge
  README.md
Due: none

📝 Update build badge (#1224)
  README.md
Due: none

🏗️ Define monorepo architecture
  package.json
  packages/.gitkeep
  packages/gitmojis/.gitkeep
  packages/website/.gitkeep
Due: prettier --write

🚚 Extract `gitmojis` as an isolated package
  packages/gitmojis/.gitkeep
  packages/gitmojis/.lintstagedrc.json
  packages/gitmojis/package.json
  packages/gitmojis/src/gitmojis.json
  packages/gitmojis/src/schema.json
Due: prettier --write, jsonlint -V src/data/schema.json

🚚 Clean-up root package.json
  .lintstagedrc.json
  package.json
  packages/website/package.json
Due: prettier --write

➕ Install `turbo`
  package.json
  yarn.lock
Due: prettier --write

:technologist: Add commitlint-plugin-gitmoji (#1233)
  .commitlintrc.js
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write

:memo: Add commitlint-plugin-gitmoji to related tools page (#1233)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

🔧 Setup turborepo
  .gitignore
  package.json
  turbo.json
Due: prettier --write

👷 Use `turbo` in `ci` workflow
  .github/workflows/ci.yml
  packages/gitmojis/package.json
Due: prettier --write

🎨 Update readme
  README.md
Due: none
