Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.md

📝 Add readme file for `gitmojis` package
  packages/gitmojis/README.md
Due: prettier --write *.md

📝 Update contributing guide
  .github/CONTRIBUTING.md
  CODE_OF_CONDUCT.md
Due: prettier --write *.md

♻️ Migrate yarn from `classic` to `berry`
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  packages/gitmojis/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

👷 Update `npm-publish` workflow with `turbo`
  .github/workflows/npm-publish.yml
  packages/gitmojis/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

🚚 Move `public` folder to `website` package
  .gitignore
  packages/website/public/static/android-icon-144x144.png
  packages/website/public/static/android-icon-192x192.png
  packages/website/public/static/android-icon-36x36.png
  packages/website/public/static/android-icon-48x48.png
  packages/website/public/static/android-icon-512x512.png
  packages/website/public/static/android-icon-72x72.png
  packages/website/public/static/android-icon-96x96.png
  packages/website/public/static/apple-icon-114x114.png
  packages/website/public/static/apple-icon-120x120.png
  packages/website/public/static/apple-icon-144x144.png
  packages/website/public/static/apple-icon-152x152.png
  packages/website/public/static/apple-icon-180x180.png
  packages/website/public/static/apple-icon-57x57.png
  packages/website/public/static/apple-icon-60x60.png
  packages/website/public/static/apple-icon-72x72.png
  packages/website/public/static/apple-icon-76x76.png
  packages/website/public/static/apple-icon-precomposed.png
  packages/website/public/static/apple-icon.png
  packages/website/public/static/browserconfig.xml
  packages/website/public/static/favicon-16x16.png
  packages/website/public/static/favicon-32x32.png
  packages/website/public/static/favicon-96x96.png
  packages/website/public/static/favicon.ico
  packages/website/public/static/gitmoji.gif
  packages/website/public/static/gitmoji.svg
  packages/website/public/static/manifest.json
  packages/website/public/static/maskable_icon.png
  packages/website/public/static/ms-icon-144x144.png
  packages/website/public/static/ms-icon-150x150.png
  packages/website/public/static/ms-icon-310x310.png
  packages/website/public/static/ms-icon-70x70.png
  packages/website/public/static/opensearchdescription.xml
Due: prettier --write, prettier --write *.json

🔖 Bump version
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

🐛 Fix `build` static outputs
  .gitignore
  packages/website/next.config.js
  packages/website/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

🐛 Fix `build` static outputs (#1236)
  .gitignore
  packages/website/next.config.js
  packages/website/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

👷 Run `lint` before `publishPackage` with turbo
  packages/gitmojis/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

👷 Run `lint` before `publishPackage` with turbo (#1237)
  packages/gitmojis/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

🐛 Use relative paths in `build` cache outputs
  turbo.json
Due: prettier --write, prettier --write *.json

🔧 Add `next-sitemap.config.js`
  packages/website/next-sitemap.config.js
Due: prettier --write

🔧 Add typescript configuration files
  .gitignore
  packages/website/next-env.d.ts
  packages/website/tsconfig.json
Due: prettier --write, prettier --write *.json

➖ Uninstall flow dependencies
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

➕ Install typescript dependencies
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🔥 Remove `babel` configuration
  packages/website/babel.config.json
Due: prettier --write, prettier --write *.json

♻️ Migrate `eslint` configuration to TypeScript
  packages/website/package.json
Due: prettier --write, prettier --write *.json

♻️ Migrate `jest` configuration to TypeScript
  packages/website/jest.config.js
  packages/website/package.json
Due: prettier --write, prettier --write *.json

♻️ Migrate `lint-staged` to .ts(x) files
  packages/website/.lintstagedrc.json
Due: prettier --write, prettier --write *.json

🔥 Remove `flow` configuration
  .flowconfig
  packages/website/package.json
Due: prettier --write, prettier --write *.json

♻️ Migrate `components/Layout` to TS
  packages/website/src/components/Layout/Footer/index.tsx
  packages/website/src/components/Layout/Hamburger/CloseIcon/index.tsx
  packages/website/src/components/Layout/Hamburger/MenuLink/index.tsx
  packages/website/src/components/Layout/Hamburger/OpenIcon/index.tsx
  packages/website/src/components/Layout/Hamburger/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Joy/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Loved/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Sexy/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Smiling/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Sunglasses/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/Tongue/index.tsx
  packages/website/src/components/Layout/Header/Logo/Status/index.tsx
  packages/website/src/components/Layout/Header/Logo/index.tsx
  packages/website/src/components/Layout/Header/index.tsx
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
  packages/website/src/components/Layout/__tests__/layout.spec.tsx
  packages/website/src/components/Layout/__tests__/stubs.ts
  packages/website/src/components/Layout/index.tsx
Due: none

♻️ Migrate `components/Button` to TS
  packages/website/src/components/Button/__tests__/__snapshots__/button.spec.tsx.snap
  packages/website/src/components/Button/__tests__/button.spec.tsx
  packages/website/src/components/Button/__tests__/stubs.ts
  packages/website/src/components/Button/index.tsx
Due: none

♻️ Migrate `__tests__/` pages to TS
  packages/website/package.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/__tests__/stubs.js
  packages/website/src/__tests__/stubs.tsx
  yarn.lock
Due: prettier --write, prettier --write *.json

♻️ Migrate `components/GitmojiList` to TS
  packages/website/src/components/GitmojiList/Gitmoji/index.js
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/ListModeSelector/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/ThemeSelector/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/gitmojiList.spec.tsx
  packages/website/src/components/GitmojiList/__tests__/stubs.ts
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
  packages/website/src/components/GitmojiList/hooks/__tests__/stubs.ts
  packages/website/src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.tsx
  packages/website/src/components/GitmojiList/hooks/useLocalStorage.js
  packages/website/src/components/GitmojiList/hooks/useLocalStorage.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: prettier --write

♻️ Migrate `pages/about` to TS
  packages/website/src/pages/about.tsx
Due: none

♻️ Migrate `pages/api` to TS
  packages/website/src/pages/api/gitmojis/index.tsx
Due: none

♻️ Migrate `pages/contributors` to TS
  packages/website/src/pages/contributors.tsx
Due: none

♻️ Migrate `components/Icon` to TS
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Icon/__tests__/icon.spec.tsx
  packages/website/src/components/Icon/__tests__/stubs.ts
  packages/website/src/components/Icon/definitions.tsx
  packages/website/src/components/Icon/index.tsx
Due: none

🔧 Update `pre-push` hook
  .husky/pre-push
Due: none

♻️ Migrate `components/SEO` to TS
  packages/website/src/components/SEO/__tests__/__snapshots__/seo.spec.js.snap
  packages/website/src/components/SEO/__tests__/__snapshots__/seo.spec.tsx.snap
  packages/website/src/components/SEO/__tests__/seo.spec.tsx
  packages/website/src/components/SEO/__tests__/stubs.ts
  packages/website/src/components/SEO/index.tsx
Due: none

♻️ Migrate `pages/index` to TS
  packages/website/src/pages/index.tsx
Due: none

♻️ Migrate `components/ContributorsList` to TS
  packages/website/src/components/ContributorsList/Contributor/index.tsx
  packages/website/src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.tsx.snap
  packages/website/src/components/ContributorsList/__tests__/contributorsList.spec.tsx
  packages/website/src/components/ContributorsList/__tests__/stubs.ts
  packages/website/src/components/ContributorsList/index.tsx
Due: none

👷 Run `tsc` in `ci` workflow
  .github/workflows/ci.yml
  packages/website/package.json
  turbo.json
Due: prettier --write, prettier --write *.json

♻️ Migrate `pages/_document` to TS
  packages/website/src/pages/_document.tsx
Due: none

♻️ Migrate `pages/_app` to TS
  packages/website/src/pages/_app.tsx
Due: none

♻️ Migrate `pages/related-tools` to TS
  packages/website/src/pages/related-tools.tsx
Due: none

♻️ Migrate `components/CarbonAd` to TS
  packages/website/src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.tsx.snap
  packages/website/src/components/CarbonAd/__tests__/carbonAd.spec.tsx
  packages/website/src/components/CarbonAd/index.tsx
Due: none

🏷️ Update `next-env.d.ts`
  packages/website/next-env.d.ts
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
  prettier --write *.json: any of: *.json
  prettier --write *.md: any of: *.md
