Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:white_check_mark: Use node-lts in Travis CI
  .travis.yml
Due: none

:bug: Fix yarn.lock
  yarn.lock
Due: none

:sparkles: Add :guard: emoji
  .idea/.gitignore
  .idea/gitmoji.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

delete .idea folder
  .idea/.gitignore
  .idea/gitmoji.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

:sparkles: add dizzy emoji
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

👥 add myself in contributors
  src/data/contributors.json
Due: prettier --write

🍱 divide emojis into categories
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🍱 update template
  src/templates/index.pug
Due: none

💄 make categories not ugly
  src/styles/style.scss
  src/templates/index.pug
Due: prettier --write

✨ do not write category for the main one
  src/templates/index.pug
Due: none

:bug: Fix no entity in :chart_with_upwards_trend:
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🐙
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

Update gitmojis.json
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

👽 Update :pencil: to :memo:
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add :seedling: icon for adding/updating seed files
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add :seedling: icon for adding/updating seed files (#353)
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:lipstick: Add seedling color
  src/styles/_includes/_vars.scss
Due: prettier --write

:lipstick: Add seedling color (#355)
  src/styles/_includes/_vars.scss
Due: prettier --write

:bug: Fix poop color
  src/styles/_includes/_vars.scss
Due: prettier --write

:bug: Fix poop color (#356)
  src/styles/_includes/_vars.scss
Due: prettier --write

:sparkles: Add :triangular_flag_on_post: for changes to feature flags
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add :earth_africa: emoji
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🐭 for adding or updating .editorconfig
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💄 Adding .editorconfig emoji color
  src/styles/_includes/_vars.scss
Due: prettier --write

:ok_hand::art: Add trailing comma in list
  src/styles/_includes/_vars.scss
Due: prettier --write

:ok_hand::lipstick: Make background color for FF less aggressive (yellow)
  src/styles/_includes/_vars.scss
Due: prettier --write

✨ Add 🚩 for changes to feature flags (#358)
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:ok_hand: rename gard to guardsman
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

🎨 Add entity field to JSON Schema
  src/data/schema.json
Due: prettier --write

🎨 Add entity field to JSON Schema (#364)
  src/data/schema.json
Due: prettier --write

:wrench: Add github to funding file
  .github/FUNDING.yml
Due: none

:wrench: Add github to funding file (#367)
  .github/FUNDING.yml
Due: none

:bug: Bring Header buttons back
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/pages/about.js
  src/pages/index.js
Due: prettier --write

:memo: Update build status badge
  README.md
Due: none

:bug: Bring back old colors
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Button/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/SEO/index.js
  src/pages/_document.js
  src/styles/_includes/_vars.scss
Due: prettier --write

✨ add animation 💫
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:art: animation as alphabetical order
  src/styles/_includes/_vars.scss
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
