Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

🔧 Allow for the test to be failing
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔧 Update descriptions for TDD
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔧 Add new color to emojiColorsMap.js
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

💄 Use color red for adding a failing test
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

✅ Make the test pass 😉
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

📝 Update descriptions
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🧪 emoji for TDD (#794)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bookmark: Bump version
  package.json
Due: prettier --write

:arrow_up: Bump Next.js to 11
  babel.config.json
  package.json
  yarn.lock
Due: prettier --write

:bug: Fix import warning
  src/pages/index.js
Due: prettier --write

⬆️ Bump Next.js to 11 (#799)
  babel.config.json
  package.json
  src/pages/index.js
  yarn.lock
Due: prettier --write

Update gitmojis.json - Added 🍎 emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Update related-tools.js
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

✨ Add a new tool in related tools page (#824)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

Delete .vscode directory
  .vscode/settings.json
Due: prettier --write

✨ Gitmoji is now a PWA with offline caching
  .gitignore
  next.config.js
  package.json
  public/static/manifest.json
  yarn.lock
Due: prettier --write

🐛 Attempt 1: Fix path errors for PWA
  next.config.js
  public/manifest.json
  src/components/SEO/index.js
Due: prettier --write

🙈 Updated gitignore to ignore sw properly
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

Requested changes applied
  .gitignore
  next.config.js
  public/static/android-icon-512x512.png
  public/static/manifest.json
  src/components/SEO/index.js
Due: prettier --write

:sparkles: Fetch Contributors using `getStaticProps`
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.js.snap
  src/components/ContributorsList/__tests__/contributorsList.spec.js
  src/components/ContributorsList/__tests__/stubs.js
  src/components/ContributorsList/index.js
  src/pages/contributors.js
  yarn.lock
Due: prettier --write

:sparkles: Fetch Contributors using `getStaticProps` (#828)
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.js.snap
  src/components/ContributorsList/__tests__/contributorsList.spec.js
  src/components/ContributorsList/__tests__/stubs.js
  src/components/ContributorsList/index.js
  src/pages/contributors.js
  yarn.lock
Due: prettier --write

Added maskable icon
  public/static/manifest.json
  public/static/maskable_icon.png
Due: prettier --write

✨ Add necktie emoji for business logic
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✅ Update page snapshot with necktie emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Update manifest.json
  public/static/manifest.json
Due: prettier --write

✨ Introduce gitmoji PWA with `next-pwa` (#825)
  .gitignore
  next.config.js
  package.json
  public/static/android-icon-512x512.png
  public/static/manifest.json
  public/static/maskable_icon.png
  yarn.lock
Due: prettier --write

✨ Add 👔 emoji (#829)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version
  package.json
Due: prettier --write

Add ☁️ to Gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:wrench: Update lock workflow cron
  .github/workflows/lock.yml
Due: none

⬆️ Bump Next.js to 12
  package.json
  yarn.lock
Due: prettier --write

⬆️ Bump Next.js to 12 (#891)
  package.json
  yarn.lock
Due: prettier --write

✨ Add keyboard event handler to focus on searchInput
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

💄 Update searchInput to add keyboard kbd
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

📸 Update shapshots for gitmojiList & page
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

✅ Fix flow errors
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

:lipstick: Prevent magic numbers and shift in layout
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

:wheelchair: Choose better colors for accessibility/contrast
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

🎨 Add useRef to remove event
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write
