Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:wrench: Validate gitmojis as a pipeline step
  .travis.yml
Due: none

:sparkles: Publish gitmojis as an npm package (#444)
  .travis.yml
  README.md
  package.json
Due: prettier --write

:bookmark: Bump version
  package.json
Due: prettier --write

:memo: Fix related tools markdown formatting
  README.md
Due: none

:memo: Update dependency readme link
  README.md
Due: none

:wrench: Update homepage, repository and bugs fields on package.json
  package.json
Due: prettier --write

🐛 Add pencil2's color
  src/styles/_includes/_vars.scss
Due: prettier --write

🐛 Add pencil2's color (#446)
  src/styles/_includes/_vars.scss
Due: prettier --write

✨ Specify some descriptions using 'Adding' word
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📸 pages
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

💬 Fix grammar in `Contributing to gitmoji` section
  src/pages/about.js
Due: prettier --write

Feature/fix grammar (#451)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
Due: prettier --write

💬 Specify some descriptions using 'Adding' word (#450)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💬(gitmojis.json): improve clarity of the bulb description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📸
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

👌 src/data/gitmojis.json
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Clarify :bulb: description as for alterations on comments (#454)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Removing GitHub project specification
  README.md
Due: none

📝 Removing GitHub from badge project specification (#457)
  README.md
Due: none

🐛 Add chart_with_upwards_trend's entity
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Update ok hand to eyes for code review changes
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔥 Remove :ok_hand: gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔥 Remove :ok_hand: gitmoji (#463)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🍱 Update gitmojis.json to be an array
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🏗 Handle new gitmojis.json structure
  src/components/GitmojiList/__tests__/stubs.js
  src/pages/index.js
Due: prettier --write

🔧 Update shema.json
  src/data/schema.json
Due: prettier --write

:memo: Update Travis-CI badge link
  README.md
Due: none

✨ Add :hammer: gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💄 Add scss color for hammer gitmoji
  src/styles/_includes/_vars.scss
Due: prettier --write

💬 Update :wrench: description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔥 Remove platform specific gitmojis
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💄 Remove unused scss gitmoji colors
  src/styles/_includes/_vars.scss
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
