Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:bug: fixed issue with filter, and update test
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/index.js
  src/components/Store/__tests__/store.spec.js
Due: prettier --write

✨ Copy Gitmoji if click on the code and copy emoji if click on it
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/index.js
  src/styles/_includes/_notifications.scss
  src/styles/style.scss
Due: prettier --write

💄 Remove unnecessary padding-bottom
  src/styles/style.scss
Due: prettier --write

♻️ Use a single Clipboard instance
  src/components/GitmojiList/index.js
Due: prettier --write

📸 Update gitmojiList and pages
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

🔥 Remove unused data-clipboard-text
  src/components/GitmojiList/Gitmoji/index.js
Due: prettier --write

♻️ No need :hover declaration for a cursor: pointer
  src/styles/style.scss
Due: prettier --write

🐛 New alert message is placed in front of the old one
  src/pages/_document.js
Due: prettier --write

✨ Copy Gitmoji if click on the code and copy emoji if click on it (#420)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
  src/styles/_includes/_notifications.scss
  src/styles/style.scss
Due: prettier --write

:sparkles: Add snail emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:wrench: Add a colour?
  src/styles/_includes/_vars.scss
Due: prettier --write

🐛 New alert message is placed in front of the old one (#422)
  src/pages/_document.js
Due: prettier --write

:speech_balloon: Add "or updating" to some emojis
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Add "or updating" to some emojis
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Add "or updating" to some emojis (#437)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Scroll to matching gitmoji present in url
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/index.js
  src/styles/style.scss
Due: prettier --write

📸 pages and gitmojiList
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

🚨 Fix flow's types
  src/components/GitmojiList/index.js
Due: prettier --write

:pencil2: fix pencil2 name typo (#400)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📸 pages after merging master
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

➕ cors
  package-lock.json
  package.json
Due: prettier --write

✨ Gitmoji's helper
  src/helpers/gitmoji.js
Due: prettier --write

✨ Add cors middleware
  src/middlewares/cors-middleware.js
  src/middlewares/run-middleware.js
Due: prettier --write

✨ GET api/gitmojis
  src/pages/api/gitmojis.js
Due: prettier --write

✨ GET api/gitmojis/{name}
  src/pages/api/gitmojis/[gitmojiName].js
Due: prettier --write

Delete package-lock.json
  package-lock.json
Due: prettier --write

✨ Add flow
  src/middlewares/cors-middleware.js
Due: prettier --write

:memo: Add badge to the readme
  README.md
Due: none

:memo: Create a related tools section
  README.md
Due: none

:ok_hand: Add hyphen
  README.md
Due: none

:fire: removed console.log
  src/components/GitmojiList/index.js
Due: prettier --write

:construction: changed type of return
  src/components/GitmojiList/index.js
Due: prettier --write

:memo: Add a section about gitmoji-changelog (#269)
  README.md
Due: none

:wrench: Add gitmojis.json as main and files on package.json
  package.json
Due: prettier --write

:wrench: Move dependencies to devDependencies
  package.json
Due: prettier --write

:wrench: Update name and private attributes
  package.json
Due: prettier --write

:wrench: Add prepublish script
  package.json
Due: prettier --write

:wrench: Add more fields to package.json
  package.json
Due: prettier --write

:memo: Write docs about the dependency
  README.md
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
