Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

💬 Update 📸 code and name
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Add gitmoji-vscode-extension in related tools (#521)
  README.md
Due: none

:pencil2: Add missing period on descriptions
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💬 Add missing punctuation in gitmoji's description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📸 pages
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Feature/add missing punctuation (#532)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:white_check_mark_: Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Add :hammer_and_wrench: emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Fixing the name property
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Adding :hammer_and_wrench: to _vars.scss
  src/styles/_includes/_vars.scss
Due: prettier --write

:bug: Fixing syntax
  src/styles/_includes/_vars.scss
Due: prettier --write

chore: Adjust inline styles for Next.js 9.5.2
  src/pages/_document.js
Due: prettier --write

:sparkles: generalize truck emoji to fit in more cases
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:pencil2: Keep description at the original verb order
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Add e.g.: to explicitly tell they are examples
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ generalize truck emoji to fit in more cases (#538)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add milky_way emoji for whitespace only changes
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:camera_flash: Fix snapshot for tests completion
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:lipstick: Add dark-mode for prefers-color-scheme: dark
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/Logo/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/styles/style.scss
Due: prettier --write

:art: Improved dark theme colors
  src/styles/style.scss
Due: prettier --write

:bug: Fix notification color on dark theme
  src/styles/_includes/_notifications.scss
Due: prettier --write

:pencil2: Use present form on verbs
  .github/CONTRIBUTING.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:pencil2: Use present form on verbs (#555)
  .github/CONTRIBUTING.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bug: Fix _document inline styles
  src/pages/_document.js
Due: prettier --write

:fire: Remove InlineStylesHead
  src/pages/_document.js
Due: prettier --write

✏️ Generalize label emoji to all languages
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Generalize label emoji to all typed languages
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🎨 Run Prettier on gitmojis.json
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Hit the microscope emoji with the grammar book
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Generalize label emoji to all typed languages (#561)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ add 💼 for adding or updating bussiness logic
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Update the pencil gitmoji description
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Change :pencil: to :memo:
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🚨 run prettier to fix ci
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Use memo instead of pencil for docs (#563)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bookmark: Bump version to 3.0.0
  package.json
Due: prettier --write

:label: Types-First codemod
  src/components/Button/index.js
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/index.js
  src/components/GitmojiList/index.js
  src/components/Icon/definitions.js
  src/components/Icon/index.js
  src/components/Layout/Footer/index.js
  src/components/Layout/Header/index.js
  src/components/Layout/Logo/index.js
  src/components/Layout/Logo/statuses/index.js
  src/components/Layout/Navigation/index.js
  src/components/Layout/index.js
  src/components/SEO/index.js
  src/pages/_document.js
Due: prettier --write

fixup! :label: Types-First codemod
  src/components/Layout/Logo/index.js
Due: prettier --write

✏️ Make hammer gitmoji more general
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json
