Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:bug: Fix difference between server and client render
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
Due: none

:bug: Fix difference between server and client render
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
Due: none

:fire: Remove unnecessary import
  packages/website/src/components/GitmojiList/__tests__/gitmojiList.spec.tsx
Due: none

:sparkles: Update ClientOnly component for test
  packages/website/src/components/ClientOnly/index.tsx
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/gitmojiList.spec.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: none

:sparkles: Add ClientOnly component
  packages/website/src/components/ClientOnly/index.tsx
Due: none

:lipstick: Remove negative margin for the pin button
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

:lipstick: Update UI after MR feedback
  .gitignore
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/Button/__tests__/__snapshots__/button.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Icon/index.tsx
  packages/website/src/components/Icon/styles.module.css
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
Due: none

:label: Update types of useLocalStorage hooks
  packages/website/src/components/GitmojiList/hooks/useLocalStorage.tsx
Due: none

:label: Avoid using Array<> Generic in favor of [] notation
  packages/website/src/components/GitmojiList/index.tsx
Due: none

:recycle: Refacto SSR mounted test
  packages/website/src/components/ClientOnly/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/gitmojiList.spec.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: none

:lipstick: Increase the clickable area of the pin button
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

:lipstick: Added a fade-in animation to avoid the appearance of flash.
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/GitmojiList/styles.module.css
Due: none

:recycle: Refacto useLocalStorage hooks
  packages/website/src/components/GitmojiList/hooks/__tests__/stubs.ts
  packages/website/src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.tsx
  packages/website/src/components/GitmojiList/hooks/useLocalStorage.tsx
Due: none

:lipstick: :bug: Update style
  packages/website/src/components/GitmojiList/styles.module.css
  packages/website/src/utils/theme/theme.css
Due: none

:heavy_plus_sign: Add usehooks-ts
  packages/website/package.json
  packages/website/src/components/GitmojiList/hooks/__tests__/stubs.ts
  packages/website/src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.tsx
  packages/website/src/components/GitmojiList/hooks/useLocalStorage.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: prettier --write

:label: Update ClientOnly props type
  packages/website/src/components/ClientOnly/index.tsx
Due: none

:recycle: Refacto after feedback
  packages/website/src/components/GitmojiList/index.tsx
Due: none

:rotating_light: Fix lint
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
Due: none

:camera_flash: Update tests
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
Due: none

:fire: Remove ClientOnly component
  packages/website/src/components/ClientOnly/index.tsx
Due: none

♻️ Migrate from `yarn` to `pnpm`
  pnpm-lock.yaml
Due: none

:rotating_light: Fix lint
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: none

✏️ Fix typo in README
  README.md
Due: prettier --write

✏️ Fix typo in README (#1616)
  README.md
Due: prettier --write

🚸 Prevent scrolling when hamburger menu is open
  packages/website/src/components/Layout/Hamburger/index.tsx
  packages/website/src/utils/theme/theme.css
Due: none

🚸 Prevent scrolling when hamburger menu is open (#1631)
  packages/website/src/components/Layout/Hamburger/index.tsx
  packages/website/src/utils/theme/theme.css
Due: none

♻️ move @vercel/analytics to website as a dependency
  package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

♻️ Move `@vercel/analytics` to website as a dependency (#1633)
  package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ Add "gitmoji_version" field to schema
  packages/gitmojis/src/gitmojis.json
  packages/gitmojis/src/schema.json
Due: prettier --write, jsonlint -V src/data/schema.json

♻️ Switch pipeline to tasks
  turbo.json
Due: prettier --write

🩹 Fix package emoji codepoints
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

♻️ Extract eslint.config.js in a separate file
  packages/website/eslint.config.js
  packages/website/package.json
Due: prettier --write

✨ Categorise and randomise the related tools page
  packages/website/src/pages/related-tools.tsx
Due: none

📝 Add related tools
  packages/website/src/pages/related-tools.tsx
Due: none

📝 Alphabetise the related tools page; remove randomisation
  packages/website/src/pages/related-tools.tsx
Due: none

🚸 Anchor category headings
  packages/website/package.json
  packages/website/src/pages/related-tools.tsx
Due: prettier --write

♻️ Use `.github` code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

♻️ Use `.github` code of conduct (#1817)
  CODE_OF_CONDUCT.md
Due: prettier --write

✨ add flow launcher gitmoji plugin to tools
  packages/website/src/pages/related-tools.tsx
Due: none

🎨
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
Due: none

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)) or (((any of: *.json) or (any of: *.md)) or (any of: *.yml))
  jsonlint -V src/data/schema.json: any of: gitmojis.json
