Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

♿️ Make buttons `button` elements for a11y (#656)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

:bug: Fix dark theme gitmojiCode color
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

:wrench: Fix author package.json field
  package.json
Due: prettier --write

:wrench: Fix author package.json field (#664)
  package.json
Due: prettier --write

:bookmark: Bump version
  package.json
Due: prettier --write

add stethoscope for healthchecks
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Add steps for testing and snapshots update
  .github/CONTRIBUTING.md
Due: none

update snapshots: yarn jest -u
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

📝 Add steps for testing and snapshots update (#669)
  .github/CONTRIBUTING.md
Due: none

💄 Fix emoji bounce animation on mouse :hover
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/utils/theme/theme.css
Due: none

💄 Add underline animation to gitmoji code on :hover
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/utils/theme/theme.css
Due: prettier --write

💩 Remove flow check
  package.json
Due: prettier --write

📸 pages, gitmojiList
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

💩 Add flow check
  package.json
Due: prettier --write

💄 Use transition instead of animation
  src/utils/theme/theme.css
Due: none

💄 Optimise transition
  src/utils/theme/theme.css
Due: none

🔥 Unnecessary css
  src/utils/theme/theme.css
Due: none

:memo: Add reminder to create an issue before opening a PR
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

:memo: Add reminder to create an issue before opening a PR (#674)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

:sparkles: Add OpenSearch specification
  public/static/opensearchdescription.xml
  src/components/SEO/index.js
Due: prettier --write

:sparkles: Prefill gitmoji search from query
  package.json
  src/components/GitmojiList/index.js
  yarn.lock
Due: prettier --write

:recycle: Refactor search prefill to use next/router
  package.json
  src/components/GitmojiList/index.js
  yarn.lock
Due: prettier --write

:sparkles: Add image to OpenSearch spec
  public/static/opensearchdescription.xml
Due: none

:art: Formatting
  src/components/GitmojiList/index.js
Due: prettier --write

:bug: Fix query param in OpenSearch spec
  public/static/opensearchdescription.xml
Due: none

:sparkles: Sync the search query parameter with input
  src/components/GitmojiList/index.js
Due: prettier --write

:white_check_mark: Add tests
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/__tests__/stubs.js
  src/components/GitmojiList/index.js
Due: prettier --write

✨ Prefill gitmoji search from query (#673)
  public/static/opensearchdescription.xml
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/__tests__/stubs.js
  src/components/GitmojiList/index.js
  src/components/SEO/index.js
Due: prettier --write

:bug: Do not update querystring on search
  src/__tests__/pages.spec.js
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

:sparkles: Introduce hover effect on gitmojiCode
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
  src/utils/theme/theme.css
Due: prettier --write

💄 Use underline animation
  src/components/GitmojiList/index.js
  src/utils/theme/theme.css
Due: prettier --write

:recycle: Remove chunk of style element inside gitmoji list
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
Due: prettier --write

:dizzy: Apply johannchopin's animation
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/utils/theme/theme.css
Due: none

🩹 Fix missing animations (#671)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
  src/utils/theme/theme.css
Due: prettier --write

:art: Remove gitmoji-${name} className
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

:art: Remove gitmoji-${name} className (#681)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

Fix test snapshots and use guidelines
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/hooks/useLocalStorage.js
Due: prettier --write

:recycle: Add test specs and move the hook under GitmojiList
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/hooks/__tests__/stubs.js
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
  src/components/GitmojiList/hooks/useLocalStorage.js
  src/components/GitmojiList/index.js
  src/hooks/useLocalStorage.spec.js
Due: prettier --write

Update snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
