Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.md, prettier --write *.yml

:technologist: Watch changes on `gitmojis` to rebuild deps for website (#1282)
  package.json
  packages/gitmojis/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

✨ Export `gitmojis` as `CJS` and `ESM` (#1280)
  .github/workflows/npm-publish.yml
  package.json
  packages/gitmojis/package.json
  packages/gitmojis/src/index.d.ts
  packages/gitmojis/src/index.js
  turbo.json
  yarn.lock
Due: prettier --write, prettier --write *.json, prettier --write *.yml

🔖 Bump version
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

🔧 Add `persistent` flag to `dev` task
  turbo.json
Due: prettier --write, prettier --write *.json

🔧 Add `persistent` flag to `dev` task (#1283)
  turbo.json
Due: prettier --write, prettier --write *.json

🔧 Add `jest` `github-actions` reporter
  packages/website/jest.config.js
Due: prettier --write

🔧 Add `version-strategy` to `dependabot`
  .github/dependabot.yml
Due: prettier --write *.yml

📝 Fix CoC links in discussion and feature-request templates
  .github/ISSUE_TEMPLATE/discussion.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: prettier --write *.yml

📝 Fix CoC links in discussion and feature-request templates (#1336)
  .github/ISSUE_TEMPLATE/discussion.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: prettier --write *.yml

🚸 Change search input type to `search`
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
Due: none

📸 Update snapshots
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

🚸 Update search input `type` (#1337)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

🔧 Avoid transforming `@vercel/analytics`
  packages/website/jest.config.js
Due: prettier --write

:children_crossing: Better wrap lines for gitmoji codes
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

:children_crossing: Better wrap lines for gitmoji codes for better readability (#1345)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: none

✨ Add specification page
  packages/website/src/pages/about.tsx
  packages/website/src/pages/specification.tsx
Due: none

📸 Update snapshots
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/__tests__/pages.spec.tsx
Due: none

✨ Add specification page to the menu
  packages/website/src/components/Layout/Hamburger/index.tsx
Due: none

✨Add `specification` page (#1384)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/components/Layout/Hamburger/index.tsx
  packages/website/src/pages/about.tsx
  packages/website/src/pages/specification.tsx
Due: none

🔥 Remove snapshots for `RelatedTools` page
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/__tests__/pages.spec.tsx
Due: none

:memo: Point to github instead of genmoji website itself
  packages/website/src/pages/related-tools.tsx
Due: none

:memo: Add mention of genmoji to related tools
  packages/website/src/pages/related-tools.tsx
Due: none

📝(related tools): Add gitmoji-fuzzy-hook
  packages/website/src/pages/related-tools.tsx
Due: none

📝 Related Tools: add Genmoji (#1388)
  packages/website/src/pages/related-tools.tsx
Due: none

🐛 Render `CarbonAd` only when component is mounted
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.tsx.snap
  packages/website/src/components/CarbonAd/index.tsx
Due: none

🐛 Render `CarbonAd` only when component is mounted (#1405)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.tsx.snap
  packages/website/src/components/CarbonAd/index.tsx
Due: none

✨ feat: update gitmemoji repo link
  packages/website/src/pages/related-tools.tsx
Due: none

✨ feat: update gitmemoji repo link (#1406)
  packages/website/src/pages/related-tools.tsx
Due: none

🚨 prettier issue
  packages/website/src/pages/related-tools.tsx
Due: none

📝(related tools): Add gitmoji-fuzzy-hook (#1376)
  packages/website/src/pages/related-tools.tsx
Due: none

:rotating_light: Fix tslint and warnings
  package.json
  packages/website/src/__tests__/stubs.tsx
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/pages/_document.tsx
  yarn.lock
Due: prettier --write, prettier --write *.json

🐛 Run `build` in dependencies
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🔧 Run turborepo `build` in dependencies (#1419)
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, prettier --write *.json

:bug: Text content does not match server-rendered HTML
  .github/CONTRIBUTING.md
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Toolbar/Kbd/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/Kbd/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: prettier --write *.md

📝 Add info about [gitmoji-ai](https://github.com/Lendable/gitmoji-ai) to the readme
  README.md
Due: prettier --write *.md

:bug: Text content does not match server-rendered HTML (#1407)
  .github/CONTRIBUTING.md
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Toolbar/Kbd/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/Kbd/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/index.tsx
  packages/website/src/components/GitmojiList/Toolbar/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
Due: prettier --write *.md

:sparkles: Add snowman to json data
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

⏪️ "Bump @types/react from 18.2.0 to 18.2.6 (#1463)"
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🔧 Bump Node.js to `18`
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .node-version
  package.json
Due: prettier --write, prettier --write *.json, prettier --write *.yml

🐛 Fix `alembic` entity
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
  prettier --write *.json: any of: *.json
  prettier --write *.md: any of: *.md
  prettier --write *.yml: any of: *.yml
