Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

♿️ Add focus trap to the menu (#955)
  .flowconfig
  package.json
  src/components/Layout/Hamburger/index.js
  yarn.lock
Due: prettier --write

:memo: Add a more in your face questions on issue template
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

:memo: Update wording on some issue template questions
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

:memo: Update template
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

:memo: Improve `ISSUE_TEMPLATE` (#963)
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

🔧 Update `ci` action node version
  .github/workflows/ci.yml
Due: none

♻️ Don't use addPinned and removePinned functions
  src/components/GitmojiList/index.js
Due: prettier --write

♻️ Use IIFE call
  src/components/GitmojiList/index.js
Due: prettier --write

💄 Pin button set to bottom and use heart icon
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

:sparkles: Add 'Add or Remove Secrets.' :closed_lock_with_key: emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add :closed_lock_with_key: emoji (#980)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version
  package.json
Due: prettier --write

⬆️ Update `lock-threads`
  .github/workflows/lock.yml
Due: none

📝 Add example of usage to README
  README.md
Due: none

📝 Add example of usage to `/about`
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
Due: prettier --write

📝 Add example of usage (#998)
  README.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
Due: prettier --write

Add gitmoji-regex
  src/pages/related-tools.js
Due: prettier --write

📝 Add gitmoji-regex (#1012)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

👷 Automate GitHub release publish
  .github/workflows/npm-publish.yml
Due: none

👷 Automate GitHub release publish (#1013)
  .github/workflows/npm-publish.yml
Due: none

➕ Install `jest-environment-jsdom` dependency
  package.json
  yarn.lock
Due: prettier --write

⬆️ Bump `node` version to `16`
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

⬆️ Bump `node` version to `16` (#1053)
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

Add Alfred Gitmoji related tool
  src/pages/related-tools.js
Due: prettier --write

:white_check_mark: Fix test
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:white_check_mark: Fix test again
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

📝 Add Alfred Gitmoji related tool (#1056)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

Delete README.md
  README.md
Due: none

✨ Add 💸 emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 💸 emoji (#1071)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Add GitmojiApp in related tools page
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

📝 Add GitmojiApp in related tools page (#1082)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

🗃️ Remove colon from truck emoji description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Move dependencies to dev dependencies
  package.json
Due: prettier --write

Updated yarn.lock
  yarn.lock
Due: none

📌 Move dependencies to dev dependencies (#1103)
  package.json
  yarn.lock
Due: prettier --write

👷 Setup npm token before publish
  .github/workflows/npm-publish.yml
  .gitignore
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
