Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

:speech_balloon: Reword :tada: to "Begining a project"
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Reword :tada: to "Begining a project" (#456)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:memo: Add lalalilo/gitmemoji to related projects
  README.md
Due: none

:pencil2: Fix typo
  README.md
Due: none

💬 Update 🔧 description (#470)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:memo: Add lalalilo/gitmemoji to related projects (#473)
  README.md
Due: none

Remove platform specific gitmojis (#471)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

Add 🔨 gitmoji (#469)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:bookmark: Bump version to 2.0.0
  package.json
Due: prettier --write

:wrench: Remove deploy to github-pages
  .travis.yml
  package.json
Due: prettier --write

:wrench: Deploy to Vercel (#483)
  .travis.yml
  package.json
Due: prettier --write

📝 Add the gitmoji browser extension in the list "related tools"
  README.md
Due: none

Rename gitmoji-browser-extension and sort tools by added date
  README.md
Due: none

📝 Add the gitmoji browser extension in the list "related tools" (#488)
  README.md
Due: none

Add gitmoji-intellij-plugin in related tools
  README.md
Due: none

Fix spelling
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Update pages.spec.js.snap
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

✏️ Fix spelling (#492)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add missing gitmojis
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🎛 Added Gitmoji for API Changes
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Update _vars.scss
  src/styles/_includes/_vars.scss
Due: prettier --write

📝 Add the gitmoji-support package to the README
  README.md
Due: none

📝 Improve presentation of espanso-gitmojis
  README.md
Due: none

✏️ Fix typos for espanso-gitmojis
  README.md
Due: none

📝 update description
  README.md
Due: none

:art: Fix prettier warnings
  src/components/Button/__tests__/stubs.js
  src/components/ContributorsList/__tests__/stubs.js
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/stubs.js
  src/components/GitmojiList/index.js
  src/components/Icon/__tests__/stubs.js
  src/components/Layout/Logo/index.js
  src/components/Layout/Logo/statuses/index.js
  src/components/Layout/__tests__/stubs.js
  src/components/SEO/__tests__/stubs.js
  src/pages/_document.js
  src/styles/_includes/_vars.scss
Due: prettier --write

:hammer: Add Dockerfile
  .dockerignore
  Dockerfile
Due: none

:pencil: Add Docker image documentation in README
  README.md
Due: none

:speech_balloon: Change all the verbs to infinitive
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:speech_balloon: Update .snap
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Update gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

update snapshot files
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

:speech_balloon: Change all the verbs to infinitive (#515)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version to 2.1.0
  package.json
Due: prettier --write

📝 Add gitmoji-vscode-extension in related tools
  README.md
Due: none

:ok_hand: Suggestion by johannchopin
  README.md
Due: none

:pencil: Jetbrains suite instead IntelliJ
  README.md
Due: none

Add gitmoji-intellij-plugin in related tools (#490)
  README.md
Due: none

:pencil: Use user-friendly URL for related tools
  README.md
Due: none
