Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.md, prettier --write *.yml

🐛 Fix `alembic` entity (#1486)
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

🔖 Bump version
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

🔧 Add `pnpm-workspace` configuration
  pnpm-workspace.yaml
Due: none

🔧 Add `pnpm-lock` file
  pnpm-lock.yaml
Due: none

♻️ Replace `yarn` with `pnpm` in root package.json
  package.json
Due: prettier --write, prettier --write *.json

🔥 Remove yarn binary
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
Due: prettier --write *.yml

⬆️ Bump `next-pwa` dependencies
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --write *.json

🔥 Remove yarn lockfile
  yarn.lock
Due: none

♻️ Replace `yarn` with `pnpm` in gitmojis package
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

♻️ Replace `yarn` with `pnpm` in website package
  packages/website/package.json
Due: prettier --write, prettier --write *.json

♻️ Adjust `lintstagedrc` prettier arguments
  .lintstagedrc.json
Due: prettier --write, prettier --write *.json

♻️ Replace `yarn` with `pnpm` in git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

♻️ Replace `yarn` with `pnpm` in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
Due: prettier --write *.yml

📝 Update documentation
  .github/CONTRIBUTING.md
Due: prettier --write *.md

⬆️ Update `clipboard` dependency
  packages/website/package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --write *.json

🔥 Remove yarn refs from git files
  .gitattributes
  .gitignore
Due: none

👷‍♂️ Install pnpm in GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
Due: prettier --write *.yml

🔥 Remove unnecessary `exec` c md
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .husky/pre-push
  package.json
Due: prettier --write, prettier --write *.json, prettier --write *.md, prettier --write *.yml

🔧 Specify pnpm as an engine
  package.json
Due: prettier --write, prettier --write *.json

♻️ Migrate from `yarn` to `pnpm` (#1503)
  .gitattributes
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  package.json
  packages/gitmojis/package.json
  packages/website/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, prettier --write *.json, prettier --write *.md, prettier --write *.yml

🎨 Fix lint issues
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.tsx
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/Layout/__tests__/layout.spec.tsx
  packages/website/src/pages/api/gitmojis/index.ts
  packages/website/src/pages/api/gitmojis/schema.ts
  packages/website/src/pages/contributors.tsx
  packages/website/src/utils/theme/theme.css
Due: none

🔧 Change Dependabot `interval` to `monthly`
  .github/dependabot.yml
Due: prettier --write *.yml

🎨 Fix lint issues
  packages/website/src/__tests__/stubs.tsx
  packages/website/src/components/GitmojiList/index.tsx
Due: none

✏️ Update the `name` attribute of 💫
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

🐛 Update `emojiColorsMap`
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: none

✏️ Update the `name` attribute of 💫 (#1582)
  packages/gitmojis/src/gitmojis.json
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

change twitter to twitter-x icon
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Icon/definitions.tsx
  packages/website/src/components/Layout/Header/index.tsx
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
Due: none

✨ Update header twitter icon (#1583)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Icon/definitions.tsx
  packages/website/src/components/Layout/Header/index.tsx
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
Due: none

:iphone: adjusted overflow to pre tag
  packages/website/src/pages/specification.tsx
  packages/website/src/utils/theme/theme.css
Due: none

Update packages/website/src/utils/theme/theme.css
  packages/website/src/utils/theme/theme.css
Due: none

:iphone: Added overflow adjust to all pre elements
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/pages/about.tsx
Due: none

📸 Update snapshots
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: none

:iphone: Fix `pre` overflow in mobile (#1611)
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/pages/about.tsx
  packages/website/src/pages/specification.tsx
  packages/website/src/utils/theme/theme.css
Due: none

✨ Extend lock gitmoji to include privacy
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.yml

✨ Extend lock gitmoji to include privacy (#1606)
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.yml

:sparkles: Add pin to top
  packages/website/package.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/Gitmoji/index.tsx
  packages/website/src/components/GitmojiList/Gitmoji/styles.module.css
  packages/website/src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/Icon/__tests__/__snapshots__/icon.spec.tsx.snap
  packages/website/src/components/Icon/definitions.tsx
  packages/website/src/components/Layout/Header/index.tsx
  packages/website/src/components/Layout/__tests__/__snapshots__/layout.spec.tsx.snap
Due: prettier --write, prettier --write *.json

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
  prettier --write *.json: any of: *.json
  prettier --write *.md: any of: *.md
  prettier --write *.yml: any of: *.yml
