Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

🔀 Make hammer gitmoji more general (#572)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:memo: - Add related tool for macOS
  README.md
Due: none

:memo: Add gitimoji as a related tool for macOS (#575)
  README.md
Due: none

✨ Add raw layout for GitmojiList
  src/components/GitmojiList/index.js
  src/pages/index.js
  src/styles/style.scss
Due: prettier --write

📸 pages, gitmojiList
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

🚚 Gitmoji -> GitmojiCard
  src/components/GitmojiList/GitmojiCard/index.js
Due: prettier --write

✅ Update GitmojiList's stubs
  src/components/GitmojiList/__tests__/stubs.js
Due: prettier --write

📸 pages, icon, layout
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: none

✨ GitmojiRaw
  src/components/GitmojiList/GitmojiRaw/index.js
  src/components/GitmojiList/index.js
Due: prettier --write

🍱 Add grid and list icon
  src/components/Icon/definitions.js
  src/styles/style.scss
Due: prettier --write

✨ Toggle layout button
  src/components/Button/ToggleLayoutButton.js
  src/pages/index.js
Due: prettier --write

💄 Gitmoji's raw list
  src/styles/style.scss
Due: prettier --write

📱 Show description in mobile list view
  src/styles/style.scss
Due: prettier --write

💄 Toggle layout button
  src/styles/style.scss
Due: prettier --write

🏷️ Specify layout props
  src/components/GitmojiList/index.js
Due: prettier --write

✨ Update layout handling
  src/components/Button/ToggleLayoutButton.js
  src/components/Button/ToggleLayoutButtons.js
  src/components/Icon/definitions.js
  src/components/Layout/index.js
  src/pages/index.js
  src/styles/style.scss
Due: prettier --write

💄 Add opacity to toggle layout button
  src/styles/style.scss
Due: prettier --write

🚨 Fix lint
  src/components/Button/ToggleLayoutButtons.js
  src/components/Icon/definitions.js
  src/components/Layout/index.js
  src/pages/index.js
Due: prettier --write

💄 Fix tablet view for gitmoji list
  src/styles/style.scss
Due: prettier --write

💄 Add padding to gitmoji-info
  src/styles/style.scss
Due: prettier --write

♻️ raw -> list
  src/components/Button/ToggleLayoutButton.js
  src/pages/index.js
Due: prettier --write

🚨 Fix layoutName flow type
  src/components/Button/ToggleLayoutButtons.js
Due: prettier --write

💄 Remove gitmoji-list's padding
  src/styles/style.scss
Due: prettier --write

🚨 Fix lint
  src/components/GitmojiList/GitmojiRaw/index.js
  src/components/GitmojiList/__tests__/stubs.js
  src/components/GitmojiList/index.js
  src/components/Layout/index.js
Due: prettier --write

♻️ Move toggle layout buttons to GitmojiList
  src/components/GitmojiList/index.js
  src/pages/index.js
Due: prettier --write

🚨 Fix lint
  src/pages/index.js
Due: prettier --write

🏷️ Fix raw type to list
  src/components/GitmojiList/index.js
Due: prettier --write

🍱 Use solid icons for toggle layout indicator
  src/components/Icon/definitions.js
Due: prettier --write

💄 Description take full-width
  src/styles/style.scss
Due: prettier --write

💄 Remove extra white-space before description
  src/styles/style.scss
Due: prettier --write

📸 pages
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

📝 Add related tool for SublimeText
  README.md
Due: none

📝 Add related tool for SublimeText (#576)
  README.md
Due: none

:rotating_light: change class to className on react component
  src/components/Icon/definitions.js
Due: prettier --write

:recycle: Create darkGray color and replace hard-coded
  src/styles/_includes/_vars.scss
  src/styles/style.scss
Due: prettier --write

:sparkles: Change two buttons layout changer to a single toggle button
  src/components/Button/ToggleLayoutButtons.js
  src/styles/style.scss
Due: prettier --write
