Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:camera_flash: Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: none

✏️ Add compiler to linter gitmoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Use forward slash instead of 'or'
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✏️ Add compiler to linter gitmoji (#580)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

fully automate the dev setup.
  .gitpod.yml
  .theia/settings.json
  README.md
Due: prettier --write

🐳 Add whale emoji to use when updating Dockerfile or docker-compose.yml
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

🎱 Add 8ball emoji to use when updating Kubernetes manifests files
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Added Gear Emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💄 Added a new color for gear emoji
  src/styles/_includes/_vars.scss
Due: prettier --write

Add passport_control emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Add color to new emoji card
  src/styles/_includes/_vars.scss
Due: prettier --write

:arrow_up: Bump next to 10 and React to 17
  package.json
  yarn.lock
Due: prettier --write

:arrow_up: Bump next to 10 and React to 17 (#603)
  package.json
  yarn.lock
Due: prettier --write

Update src/data/gitmojis.json
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Update src/styles/_includes/_vars.scss
  src/styles/_includes/_vars.scss
Due: prettier --write

🔧 Added .vscode folder with an important setting.
  .vscode/settings.json
Due: prettier --write

:lipstick: Improve notification ttl
  src/components/GitmojiList/index.js
Due: prettier --write

:camera_flash: Update snapshot due to new Emoji for passport
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:sparkles: Add passport_control emoji (#602)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:wrench: Migrate Travis-CI to GitHub Actions
  .github/workflows/ci.yml
  .travis.yml
  README.md
Due: none

:wrench: Migrate from Travis-CI to GitHub Actions (#609)
  .github/workflows/ci.yml
  .travis.yml
  README.md
Due: none

Add data exploration gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Data exploration/inspection emoji (change to git emoji code)
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add adhesive_bandage emoji
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

✅ Fix tests: update snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Changed simple-fix to adhesive-bandage everywhere.
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/styles/_includes/_vars.scss
Due: prettier --write

:bento: Added badge svg
  public/static/gitmoji- 😜 😍-FFDD67.svg
Due: none

Rename gitmoji- 😜 😍-FFDD67.svg to gitmoji_badge.svg
  public/static/gitmoji- 😜 😍-FFDD67.svg
  public/static/gitmoji_badge.svg
Due: none

:memo: Updated README
  README.md
Due: none

:sparkles: Add emoji simple fix (#617)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:bookmark: Bump version to 3.1.0
  package.json
Due: prettier --write

:wrench: Remove scss styling
  next.config.js
  package.json
  src/pages/_document.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  src/styles/_includes/_flexbox.scss
  src/styles/_includes/_menu.scss
  src/styles/_includes/_notifications.scss
  src/styles/_includes/_vars.scss
  src/styles/style.scss
  yarn.lock
Due: prettier --write

:wrench: Use absolute imports
  .flowconfig
  jsconfig.json
  package.json
  src/components/Button/index.js
  src/components/Layout/Footer/index.js
  src/components/Layout/Header/Logo/index.js
  src/components/Layout/Header/Logo/statuses/index.js
  src/components/Layout/Header/index.js
  src/components/Layout/__tests__/layout.spec.js
  src/components/Layout/index.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  yarn.lock
Due: prettier --write

:recycle: Add global theme
  src/pages/_app.js
  src/utils/theme/theme.css
Due: prettier --write

:recycle: Move Layout component to css-modules
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Footer/index.js
  src/components/Layout/Footer/styles.module.css
  src/components/Layout/Hamburger/CloseIcon/index.js
  src/components/Layout/Hamburger/MenuLink/index.js
  src/components/Layout/Hamburger/MenuLink/styles.module.css
  src/components/Layout/Hamburger/OpenIcon/index.js
  src/components/Layout/Hamburger/index.js
  src/components/Layout/Hamburger/styles.module.css
  src/components/Layout/Header/Logo/Status/Joy/index.js
  src/components/Layout/Header/Logo/Status/Loved/index.js
  src/components/Layout/Header/Logo/Status/Sexy/index.js
  src/components/Layout/Header/Logo/Status/Smiling/index.js
  src/components/Layout/Header/Logo/Status/Sunglasses/index.js
  src/components/Layout/Header/Logo/Status/Tongue/index.js
  src/components/Layout/Header/Logo/Status/index.js
  src/components/Layout/Header/Logo/Status/styles.module.css
  src/components/Layout/Header/Logo/index.js
  src/components/Layout/Header/Logo/statuses/index.js
  src/components/Layout/Header/Logo/styles.module.css
  src/components/Layout/Header/index.js
  src/components/Layout/Header/styles.module.css
  src/components/Layout/Navigation/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/Layout/__tests__/layout.spec.js
  src/components/Layout/index.js
Due: prettier --write

:recycle: Move Icon component to css-modules
  src/components/Icon/index.js
  src/components/Icon/styles.module.css
Due: prettier --write

:recycle: Move ContributorsList to css-modules
  src/components/ContributorsList/Contributor/index.js
  src/components/ContributorsList/Contributor/styles.module.css
  src/components/ContributorsList/__tests__/__snapshots__/contributorsList.spec.js.snap
  src/components/ContributorsList/__tests__/contributorsList.spec.js
Due: prettier --write

:recycle: Move GitmojiList to css-modules
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/components/GitmojiList/index.js
Due: prettier --write

:recycle: Move Layout component to _app
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/components/Layout/Footer/styles.module.css
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/Layout/__tests__/layout.spec.js
  src/pages/_app.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
