Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

Add tests for useLocalStorage hook
  src/hooks/useLocalStorage.spec.js
Due: prettier --write

Add tests
  src/hooks/useLocalStorage.spec.js
Due: prettier --write

Fix error function
  src/hooks/useLocalStorage.spec.js
Due: prettier --write

Persist isListMode status in localStorage
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
  src/hooks/useLocalStorage.js
Due: prettier --write

✨ Persist list mode status in localStorage (#672)
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/hooks/__tests__/stubs.js
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
  src/components/GitmojiList/hooks/useLocalStorage.js
  src/components/GitmojiList/index.js
Due: prettier --write

📝 Add issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

📝 Add issue templates (#683)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

✨ Add `semver` property to the gitmojis
  .github/CONTRIBUTING.md
  src/data/gitmojis.json
  src/data/schema.json
Due: prettier --write, jsonlint -V src/data/schema.json

👌 Set semver of Add/Remove dependency to "patch"
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add `semver` property to the gitmojis (#692)
  .github/CONTRIBUTING.md
  src/data/gitmojis.json
  src/data/schema.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bookmark: Bump version to 3.2.0
  package.json
Due: prettier --write

✨ Added remove dead code emoji (🪦)
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Added remove dead code emoji (🪦)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add fix something on OS emojis
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Added remove dead code emoji (⚰️)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💬 Add dot at the end of description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💬 Add dot at the end of spec snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

✨ Added remove dead code emoji (⚰️) (#712)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Introduce gitmoji API
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/pages/api/gitmojis/index.js
Due: prettier --write

:sparkles: Introduce Gitmoji API (#713)
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/pages/api/gitmojis/index.js
Due: prettier --write

:sparkles: Add gitmoji/[name] api endpoint
  src/__tests__/pages.spec.js
  src/__tests__/stubs.js
  src/pages/api/gitmoji/[name].js
Due: prettier --write

:wrench: Migrate to Husky v5
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

:wrench: Migrate to Husky v5 (#719)
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

:arrow_up: Bump Next.js to 10.0.8
  package.json
  yarn.lock
Due: prettier --write

:arrow_up: Bump Next.js to 10.0.8 (#720)
  package.json
  yarn.lock
Due: prettier --write

:bento: Added link to gitmoji-atom
  src/pages/related-tools.js
Due: prettier --write

:camera_flash: Updated snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:bento: Added link to gitmoji-atom (#737)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

:lipstick: autofocus the search bar
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

:bug: Render unicode gitmojis as image by default
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bug: Render unicode gitmojis as image by default
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bug: Render unicode gitmojis as image by default (#753)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:wrench: Automate npm publish
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

:wrench: Automate npm publish (#761)
  .github/workflows/npm-publish.yml
  package.json
Due: prettier --write

:art: Fix prettier issues
  src/pages/related-tools.js
Due: prettier --write

:wrench: Set jest `testEnvironment` to jsdom
  package.json
Due: prettier --write

Added :writing_hand: emoji for rewrites. Fixes (#728)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Added :writing the :writing_hand: emoji for rewrites
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version
  package.json
Due: prettier --write

🔧 Add 🧪 for TDD
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json
