Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:recycle: Move Button component to css-modules
  src/components/Button/__tests__/__snapshots__/button.spec.js.snap
  src/components/Button/index.js
  src/components/Button/styles.module.css
Due: prettier --write

:memo: Update CONTRIBUTING docs
  .github/CONTRIBUTING.md
Due: none

:sparkles: Remove GitHub button from About page
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
Due: prettier --write

:wrench: Make prettier watch for css instead of scss files
  package.json
Due: prettier --write

:lipstick: Add dark-mode theme
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/Layout/Header/styles.module.css
  src/utils/theme/theme.css
Due: none

:lipstick: Add dark-mode theme (#624)
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/Layout/Header/styles.module.css
  src/utils/theme/theme.css
Due: none

:sparkles: Introduce CarbonAd component
  src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.js.snap
  src/components/CarbonAd/__tests__/carbonAd.spec.js
  src/components/CarbonAd/index.js
Due: prettier --write

:sparkles: Add CarbonAd into every page
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  src/utils/theme/theme.css
Due: prettier --write

❤️ Introduce CarbonAds (#631)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.js.snap
  src/components/CarbonAd/__tests__/carbonAd.spec.js
  src/components/CarbonAd/index.js
  src/pages/about.js
  src/pages/contributors.js
  src/pages/index.js
  src/utils/theme/theme.css
Due: prettier --write

:wrench: Introduce github/lock action flow
  .github/workflows/lock.yml
Due: none

:wrench: Introduce github/lock action flow (#634)
  .github/workflows/lock.yml
Due: none

:sparkles: Add gitmoji search
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

:sparkles: Add gitmoji search (#635)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

:wrench: Update lock workflow inactive days
  .github/workflows/lock.yml
Due: none

✨ Allow searching by description
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

💬 Change the search placeholder
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

📸 Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

:ok_hand: Fix the test label
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
Due: prettier --write

:ok_hand: Refactor duplicate .toLowercase, as suggested by @johannchopin
  src/components/GitmojiList/index.js
Due: prettier --write

:ok_hand: Change the search placeholder as suggested by @johannchopin
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

✨ Allow searching by gitmoji description (#641)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

📸 Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:sparkles: Data exploration/inspection gitmoji (#616)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add related-tools page
  README.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/Layout/Hamburger/index.js
  src/pages/related-tools.js
Due: prettier --write

:sparkles: Add related-tools page (#643)
  README.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/Layout/Hamburger/index.js
  src/pages/related-tools.js
Due: prettier --write

:recycle: Replace website with gitmoji.dev
  README.md
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Header/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/SEO/index.js
  src/pages/about.js
Due: prettier --write

:recycle: Replace website url with gitmoji.dev (#646)
  README.md
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Header/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/SEO/index.js
  src/pages/about.js
Due: prettier --write

:wrench: Generate sitemap dynamically on build
  .gitignore
  next-sitemap.js
  package.json
  yarn.lock
Due: prettier --write

:wrench: Generate sitemap dynamically on build (#647)
  .gitignore
  next-sitemap.js
  package.json
  yarn.lock
Due: prettier --write

:bookmark: Bump version to 3.1.1
  package.json
Due: prettier --write

:lipstick: Improve dark-mode ad theme
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/CarbonAd/__tests__/__snapshots__/carbonAd.spec.js.snap
  src/components/CarbonAd/index.js
  src/utils/theme/theme.css
Due: prettier --write

:sparkles: Introduce GitmojiList view selector
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/Toolbar/ListModeSelector/index.js
  src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/utils/theme/theme.css
Due: prettier --write

:sparkles: Introduce GitmojiList view selector (#649)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/Toolbar/ListModeSelector/index.js
  src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/utils/theme/theme.css
Due: prettier --write

:lipstick: Adjust search input dark mode styles
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

:lipstick: Adjust search input dark mode styles (#650)
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

:wheelchair: Improve Toolbar a11y
  src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

:wheelchair: Improve Toolbar a11y (#652)
  src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

:lipstick: Make buttons `button` elements for a11y
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
Due: prettier --write

:white_check_mark: Update test snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
