Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

👷 Remove `--token` argument from `publish` command
  .github/workflows/npm-publish.yml
Due: none

📝 Add code of conduct
  CODE_OF_CONDUCT.md
Due: none

📝 Add code of conduct (#1104)
  CODE_OF_CONDUCT.md
Due: none

✨Add 🧵 emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🧵 emoji
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

✨ Change 🧵 emoji colour
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

✅ Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

🚨 Fix lint error
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

:adhesive_bandage: use for recycle emoji and entity same number
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🧵 emoji (#1106)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:adhesive_bandage: use for recycle emoji and entity same number (#1107)
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version
  package.json
Due: prettier --write

📸 Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: none

✨ Add external datasource emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Disable blank issues, add link to contribution
  .github/ISSUE_TEMPLATE/config.yml
Due: none

✨ Update `gitmoji-proposal` issue template
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

✨ Update issue templates (#1115)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/discussion.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.yml
Due: none

:sparkles: Add githubmoji to related tools
  src/pages/related-tools.js
Due: prettier --write

:camera_flash: Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

✨ Add githubmoji to /related-tools (#1116)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

✨ Add `ThemeSelector` component to Toolbar
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
  src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: prettier --write

➕ Install `next-themes`
  package.json
  yarn.lock
Due: prettier --write

🐛 Fix hydration mismatch in Toolbar
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

💄 Update themes
  src/utils/theme/theme.css
Due: none

✨ Add `ThemeProvider` to `_app`
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/pages/_app.js
Due: prettier --write

♻️ Extract `nextTheme` as a variable
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
Due: prettier --write

✨ Add theme toggle switch (#1117)
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/__tests__/pages.spec.js
  src/components/GitmojiList/Toolbar/ThemeSelector/index.js
  src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/pages/_app.js
  src/utils/theme/theme.css
  yarn.lock
Due: prettier --write

🚬 Add Write code while high gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔧 Update `next-pwa` config
  next.config.js
Due: prettier --write

✨ Add gitmoji-changelog-action to related tools
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

✨ Add gitmoji-changelog-action to related tools (#1147)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

:sparkles: Add support to search by emoji
  src/components/GitmojiList/index.js
Due: prettier --write

⬆️ Bump Next and dependencies
  package.json
  yarn.lock
Due: prettier --write

♻️ Apply `new-link` codemod
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Footer/index.js
  src/components/Layout/Hamburger/MenuLink/index.js
  src/pages/about.js
  src/pages/related-tools.js
Due: prettier --write

⬆️ Bump Next.js to 13 (#1165)
  package.json
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Footer/index.js
  src/components/Layout/Hamburger/MenuLink/index.js
  src/pages/about.js
  src/pages/related-tools.js
  yarn.lock
Due: prettier --write

📝 Update `CONTRIBUTING`
  .github/CONTRIBUTING.md
Due: none

:white_check_mark: Add test to validate search by emoji
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
Due: prettier --write

✨Add support to search by emoji (#1164)
  src/components/GitmojiList/__tests__/gitmojiList.spec.js
  src/components/GitmojiList/index.js
Due: prettier --write

✨ Add 🦺 emoji (#1136)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🦺 emoji (#1167)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
