Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json, prettier --write *.md

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
  "*.json": ["prettier --write *.json"],
  "*.md": ["prettier --write *.md"]
}

:lipstick: Make consistent between the cards and button (#1231)
  packages/website/src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
  packages/website/src/utils/theme/theme.css
Due: none

:lipstick: Update UI Toolbar Button
  packages/website/src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
  packages/website/src/utils/theme/theme.css
Due: none

:rewind: Revert Toolbar button color text
  packages/website/src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
Due: none

:sparkles: Add eslint-plugin-import plugin
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

:lipstick: Update Toolbar Button background in dark mode (#1232)
  packages/website/src/components/GitmojiList/Toolbar/ListModeSelector/styles.module.css
  packages/website/src/components/GitmojiList/Toolbar/ThemeSelector/styles.module.css
Due: none

🔧 Add `eslint-plugin-import` plugin (#1245)
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🏷️ Add `gitmojis.d.ts` TypeScript module declaration
  packages/gitmojis/src/gitmojis.d.ts
Due: none

🔧 Add `types` field to `package.json`
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

🏷️ Add TypeScript type declarations to `gitmojis` package (#1247)
  packages/gitmojis/package.json
  packages/gitmojis/src/gitmojis.d.ts
Due: prettier --write, prettier --write *.json

🔖 Bump version
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

♻️ Update schema to `draft2020`
  packages/gitmojis/src/schema.json
Due: prettier --write, prettier --write *.json

♻️ Replace `jsonlint` with `ajv-cli`
  packages/gitmojis/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🔧 Use prettier on .ts files in gitmojis
  packages/gitmojis/.lintstagedrc.json
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/pages/api/gitmojis/index.ts
Due: prettier --write, prettier --write *.json

🚚 Rename `api` endpoint from `.tsx` to `.ts`
  packages/website/src/pages/api/gitmojis/index.ts
Due: none

♻️ Replace `jsonlint` with `ajv-cli` (#1253)
  packages/gitmojis/.lintstagedrc.json
  packages/gitmojis/package.json
  packages/gitmojis/src/schema.json
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/pages/api/gitmojis/index.ts
  yarn.lock
Due: prettier --write, prettier --write *.json

➕ Install `react-hot-toast` dependency
  packages/website/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

🔥 Remove ns-growl code
  packages/website/src/pages/_document.tsx
  packages/website/src/utils/theme/theme.css
Due: none

♻️ Replace growl with `Toaster`
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/GitmojiList/styles.module.css
  packages/website/src/pages/index.tsx
Due: none

♻️ Use `react-hot-toast` to show notifications (#1255)
  packages/website/package.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/index.tsx
  packages/website/src/components/GitmojiList/styles.module.css
  packages/website/src/pages/_document.tsx
  packages/website/src/pages/index.tsx
  packages/website/src/utils/theme/theme.css
  yarn.lock
Due: prettier --write, prettier --write *.json

:sparkles: Also provide schema validation through the API
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/pages/api/gitmojis/index.ts
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

:technologist: Provide better schema validation with editor
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/pages.spec.tsx
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

:wrench: (gitmojis): Allow schema and type files to be published
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

:wrench: only map module path if it starts with "src"
  packages/website/jest.config.js
Due: prettier --write

:sparkles: (website): add a route to publish gitmojis schema
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/pages/api/gitmojis/schema.ts
Due: none

:recycle: (gitmojis): update $schema reference to point to our own domain
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

📦️ Export `gitmojis` using a barrel file
  packages/gitmojis/package.json
  packages/gitmojis/src/gitmojis.d.ts
  packages/gitmojis/src/index.js
  packages/website/jest.config.js
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/pages/api/gitmojis/index.ts
  packages/website/src/pages/api/gitmojis/schema.ts
  packages/website/src/pages/index.tsx
Due: prettier --write, prettier --write *.json

🔧 Format .js files with prettier
  packages/gitmojis/.lintstagedrc.json
  packages/gitmojis/package.json
  packages/gitmojis/src/gitmojis.d.ts
  packages/gitmojis/src/index.js
Due: prettier --write, prettier --write *.json

✨ Add schema to `gitmojis` (#1263)
  packages/gitmojis/.lintstagedrc.json
  packages/gitmojis/package.json
  packages/gitmojis/src/gitmojis.d.ts
  packages/gitmojis/src/gitmojis.json
  packages/gitmojis/src/index.js
  packages/website/src/__tests__/pages.spec.tsx
  packages/website/src/pages/api/gitmojis/schema.ts
  packages/website/src/pages/index.tsx
Due: prettier --write, jsonlint -V src/data/schema.json, prettier --write *.json

🔧 Enable `prettier` for YML files
  .lintstagedrc.json
Due: prettier --write, prettier --write *.json

✨ Enable `vercel/analytics` in website
  package.json
  packages/website/src/pages/_app.tsx
  yarn.lock
Due: prettier --write, prettier --write *.json

✨ Enable `vercel/analytics` in website (#1281)
  package.json
  packages/website/src/pages/_app.tsx
  yarn.lock
Due: prettier --write, prettier --write *.json

🚚 Rename `gitmojis.d.ts` to `index.d.ts`
  packages/gitmojis/src/index.d.ts
Due: none

🔧 Add `gitmojis` build output to turborepo config
  turbo.json
Due: prettier --write, prettier --write *.json

➕ Install `unbuild` dependency
  packages/gitmojis/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json

👷 Add `build` step to publish action
  .github/workflows/npm-publish.yml
Due: none

✨ Export `cjs` and `esm` with `unbuild`
  packages/gitmojis/package.json
Due: prettier --write, prettier --write *.json

✨ Add `assert { type: json }` for JSON imports
  packages/gitmojis/src/index.js
Due: prettier --write

🔧 Add `build` as a dependency for `lint`, `tscheck` and `build`
  turbo.json
Due: prettier --write, prettier --write *.json

:technologist: watch changes on gitmoji to rebuild deps for website
  package.json
  packages/gitmojis/package.json
  yarn.lock
Due: prettier --write, prettier --write *.json
