Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.yml": ["prettier --write"]
}

✨ Add flow launcher gitmoji plugin to tools (#1867)
  packages/website/src/pages/related-tools.tsx
Due: none

:sparkles: Adds offline support emoji
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:wrench: Adds background colour for new emoji
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: none

:white_check_mark: Updates test snapshots
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: none

✨ Adds ✈️ for offline support (#1882)
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 3.15.0
  packages/gitmojis/package.json
Due: prettier --write

:sparkles: Add 🧬
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: add 🦯
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add ↔️
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🤖
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🎛️
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🖇
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🛸
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add ⛺
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🥡
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🔗
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✅ Update snapshots
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: none

✨ Add vibecoding gitmoji
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🚑️ [fix] Change description
  packages/gitmojis/src/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

💄 Add color to the color file
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: none

🍱 Add gitmoji-badge.svg
  gitmoji-badge.svg
Due: none

📝 README.md: Update Gitmoji badge
  README.md
Due: prettier --write

🔧 Update node-version
  .node-version
Due: none

♻️ Use `.node-version` file in gh-actions
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
Due: prettier --write

🔧 Update node-version in package.json
  package.json
  packages/website/package.json
Due: prettier --write

🔧 Update `node-version` to `22` (#1935)
  .github/workflows/ci.yml
  .github/workflows/npm-publish.yml
  .node-version
  package.json
  packages/website/package.json
Due: prettier --write

🔥 Remove husky.sh script from hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

💄 Make footer sticky
  packages/website/src/components/Layout/Footer/styles.module.css
  packages/website/src/utils/theme/theme.css
Due: none

📝 Add `AGENTS.md`
  AGENTS.md
Due: prettier --write

Adds 🦖 for code that adds backwards compatibility
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add 🦖 (#1956)
  packages/gitmojis/src/gitmojis.json
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add emoji 🧭 for improve navigation, menus or routing
  packages/gitmojis/src/gitmojis.json
  packages/website/src/components/GitmojiList/emojiColorsMap.ts
Due: prettier --write, jsonlint -V src/data/schema.json

🧪 test: add pass test page
  packages/website/src/__tests__/__snapshots__/pages.spec.tsx.snap
Due: none

📝 Update gitmemoji related tool url to maintained repo
  packages/website/src/pages/related-tools.tsx
Due: none

🔧 Update `node` version
  .node-version
Due: none

✨ Use `oidc` npm publish
  .github/workflows/npm-publish.yml
Due: prettier --write

👷 Enable `oidc` npm trusted publishing (#1961)
  .github/workflows/npm-publish.yml
  .node-version
Due: prettier --write

Update packages/website/src/utils/theme/theme.css
  packages/website/src/utils/theme/theme.css
Due: none

👷🏼 Update `contents` permission to `write`
  .github/workflows/npm-publish.yml
Due: prettier --write

Correct link to Code of Conduct
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: prettier --write
