Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:memo: Update contributing docs
  .github/CONTRIBUTING.md
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/about.js
Due: prettier --write

📸 Modify project url and description
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

🍱 Modify project url and description
  src/pages/related-tools.js
Due: prettier --write

🍱 Modify project url and description (#940)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

:wheelchair: (links) add option for prefer-reduced-motion
  src/utils/theme/theme.css
Due: none

:wheelchair: Remove links animation on `prefers-reduced-motion` (#944)
  src/utils/theme/theme.css
Due: none

:memo: Add more information on new emoji issue template
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

:memo: Add more information on new emoji issue template (#947)
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
Due: none

:wrench: Update `dependabot` schedule config
  .github/dependabot.yml
Due: none

:sparkles: add skull emoji for making a change you forgot
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Added link gitmoji!
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📄 Update `LICENSE`
  LICENSE
Due: none

💩
  .flowconfig
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/lock.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .travis.yml
  LICENSE
  README.md
  babel.config.json
  jsconfig.json
  next-sitemap.js
  next.config.js
  package.json
  public/static/android-icon-512x512.png
  public/static/manifest.json
  public/static/maskable_icon.png
  public/static/opensearchdescription.xml
  yarn.lock
Due: prettier --write

✨Pin to top
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/hooks/useLocalStorage.js
  src/components/GitmojiList/index.js
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Icon/definitions.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/utils/notification.js
Due: prettier --write

Revert "💩"
  .flowconfig
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/gitmoji-proposal.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/lock.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .husky/pre-push
  .travis.yml
  LICENSE
  README.md
  babel.config.json
  jsconfig.json
  next-sitemap.js
  next.config.js
  package.json
  public/static/android-icon-512x512.png
  public/static/manifest.json
  public/static/maskable_icon.png
  public/static/opensearchdescription.xml
  yarn.lock
Due: prettier --write

✅ Fix localstorage test
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
Due: prettier --write

♻️ Use variable for pin text
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

♻️ Better opacity order
  src/components/GitmojiList/Gitmoji/styles.module.css
Due: none

♻️ Don't use directly state in setState
  src/components/GitmojiList/index.js
Due: prettier --write

⚡️ Avoid unnecessary array scans
  src/components/GitmojiList/index.js
Due: prettier --write

⚡️ Use memo hook
  src/components/GitmojiList/index.js
Due: prettier --write

♻️ Sort pinned gitmojis at creation
  src/components/GitmojiList/index.js
Due: prettier --write

♻️ Use button layout for pin
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/Gitmoji/styles.module.css
Due: prettier --write

✨Add unpin title message
  src/components/GitmojiList/Gitmoji/index.js
Due: prettier --write

✨Use star icon in pin button
  src/components/GitmojiList/Gitmoji/index.js
  src/components/Icon/definitions.js
Due: prettier --write

♻️ Use currentColor to fill svg
  src/components/Icon/definitions.js
  src/components/Layout/Header/styles.module.css
Due: prettier --write

💄 Improve star icon UI
  src/components/GitmojiList/Gitmoji/styles.module.css
Due: none

♿️ Add aria-label to button
  src/components/GitmojiList/Gitmoji/index.js
Due: prettier --write

📸
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Gitmoji/index.js
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/Icon/__tests__/__snapshots__/icon.spec.js.snap
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: prettier --write

✅ Better test scenario for local storage reading
  src/components/GitmojiList/hooks/__tests__/useLocalStorage.spec.js
Due: prettier --write

🩹 Don't repeat the use of sortPinnedGitmojis
  src/components/GitmojiList/index.js
Due: prettier --write

♻️ Remove the use of Set
  src/components/GitmojiList/index.js
Due: prettier --write

♻️ Don't memoize getGitmojis
  src/components/GitmojiList/index.js
Due: prettier --write

➕ focus-trap-react
  package.json
  yarn.lock
Due: prettier --write

♿️ Add focus trap on menu
  src/components/Layout/Hamburger/index.js
Due: prettier --write

📸
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
Due: none

🚑️ Remove dialog
  src/components/Layout/Hamburger/index.js
Due: prettier --write

➕ Add prop-types to devDependencies
  package.json
  yarn.lock
Due: prettier --write

✅ Ignore invalid json file from flow
  .flowconfig
Due: none

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
