Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

:pencil: update animation description
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:green_heart: update test snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:art: run prettier
  src/styles/_includes/_vars.scss
Due: prettier --write

✨ Add animation 💫 (#369)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add copy to clipboard
  package.json
  src/components/GitmojiList/index.js
  src/pages/_document.js
  yarn.lock
Due: prettier --write

:sparkles: Bring back copy to clipboard (#372)
  package.json
  src/components/GitmojiList/index.js
  src/pages/_document.js
  yarn.lock
Due: prettier --write

:pencil2: Fix Grammar
  src/pages/about.js
Due: prettier --write

:pencil: Add usage for new user
  README.md
Due: none

feature(emoji): add :cake: emoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

bugfix(emoji): removed problem space
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

bugfix(update-snapshots): needed to update snapshots to account for my change
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add :goal_net: for Catching Errors
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bug: Added color to goal-net in gitmoji style array
  src/styles/_includes/_vars.scss
Due: prettier --write

:bug: Adding styling color to goal-net, now with the correct building file
  src/styles/_includes/_vars.scss
Due: prettier --write

:sparkles: Add 🥅 emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add 🥅 emoji (#378)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

Add 🗄️ and 🖥️
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Add 🗄️ and 🖥️
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

Add 🗄️ and 🖥️
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/styles/_includes/_vars.scss
Due: prettier --write

Trying to fix
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

work
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

Add 🗄️ and 🖥️
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

Add cabinet and computer screen
  package-lock.json
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: prettier --write

Fix Lint
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: added new spider emoji for deprecated code removal
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

add ability to change gitmojis order
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/Layout/Header/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/Layout/index.js
  src/components/OrderSelect/__tests__/__snapshots__/orderSelect.spec.js.snap
  src/components/OrderSelect/__tests__/orderSelect.spec.js
  src/components/OrderSelect/__tests__/stubs.js
  src/components/OrderSelect/index.js
  src/pages/index.js
  src/styles/_includes/_vars.scss
  src/styles/style.scss
Due: prettier --write

fix flow types
  src/components/Layout/Header/index.js
  src/components/Layout/index.js
  src/components/OrderSelect/index.js
  src/styles/_includes/_vars.scss
Due: prettier --write

fix :dizzy: gitmoji name
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

fix jest snapshot after :dizzy: fix
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

fix select UI on resolution larger than 1080p and fix :dizzy: background
  src/styles/_includes/_vars.scss
  src/styles/style.scss
Due: prettier --write

:pencil2: fix pencil2 name typo
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: A new gitmoji (as discussed in #178) for deprecating code
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:lipstick: Color for wastebasket
  src/styles/_includes/_vars.scss
Due: prettier --write

:white_check_mark: Update jest snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

✨ Add 🗑 for deprecating code (#403)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
  src/styles/_includes/_vars.scss
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: added search feature
  src/components/GitmojiList/index.js
  src/components/Layout/Header/index.js
  src/components/Layout/index.js
  src/components/SearchBox/__tests__/__snapshots__/button.spec.js.snap
  src/components/SearchBox/__tests__/button.spec.js
  src/components/SearchBox/__tests__/stubs.js
  src/components/SearchBox/index.js
  src/components/Store/store.js
  src/styles/style.scss
Due: prettier --write

:camera_flash: adding tests and fixing snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
  src/components/GitmojiList/index.js
  src/components/Layout/__tests__/__snapshots__/layout.spec.js.snap
  src/components/SearchBox/__tests__/__snapshots__/button.spec.js.snap
  src/components/SearchBox/__tests__/__snapshots__/searchBox.spec.js.snap
  src/components/SearchBox/__tests__/button.spec.js
  src/components/SearchBox/__tests__/searchBox.spec.js
  src/components/SearchBox/__tests__/stubs.js
  src/components/Store/__tests__/__snapshots__/store.spec.js.snap
  src/components/Store/__tests__/store.spec.js
  src/styles/style.scss
Due: prettier --write

:bug: fixed issue with filter, and update test
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/index.js
  src/components/Store/__tests__/store.spec.js
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.json)) or (any of: gitmojis.json)) or (any of: *.scss)
  jsonlint -V src/data/schema.json: any of: gitmojis.json
