Repository carloscuesta/gitmoji: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jsonlint -V src/data/schema.json

.lintstagedrc:

{
  "*.js": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "gitmojis.json": [
    "jsonlint -V src/data/schema.json",
    "prettier --write",
    "git add"
  ],
  "*.scss": ["prettier --write", "git add"]
}

💄 Tweak keyboard hint position
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

✅ Add jest spy on navigator.platform to ensure right returns
  src/components/GitmojiList/Toolbar/index.js
  src/components/Layout/__tests__/layout.spec.js
Due: prettier --write

📸 Update Snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

🍻 Fix isMacOs function
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

✅ Remove jest spy (window is undefined in the wrapper)
  src/components/Layout/__tests__/layout.spec.js
Due: prettier --write

📸 Fix snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: none

add stethoscope for healthchecks
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

update snapshots: yarn jest -u
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Add Stethoscope 🩺 #667
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🔖 Bump version
  package.json
Due: prettier --write

:memo: Update contributing docs
  .github/CONTRIBUTING.md
Due: none

💄 Tweak css to prevent weird focus margin
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

🔥 Use "useRef" instead of "createRef"
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

💄 Fix kbd alignment on safari
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

♿️ Fix accessibility contrast issue for light theme
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

💄 Add focus-within to the inputWrapper
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

🎨 create keyboardEventListener inside useEffet
  src/components/GitmojiList/Toolbar/index.js
Due: prettier --write

🐛 Update focus-within from black to -webkit-focus-ring-color
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

🐛 Fix focus on safari
  src/components/GitmojiList/Toolbar/styles.module.css
Due: none

Add factory gitmoji
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Add "auto" to factory explanation
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

Add factory to color map
  src/components/GitmojiList/emojiColorsMap.js
Due: prettier --write

Re-add stethoscope
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:camera_flash: Update snapshots
  src/__tests__/__snapshots__/pages.spec.js.snap
Due: none

:sparkles: Add input focus with keyboard (#896)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/Toolbar/index.js
  src/components/GitmojiList/Toolbar/styles.module.css
  src/components/GitmojiList/__tests__/__snapshots__/gitmojiList.spec.js.snap
Due: prettier --write

Update related-tools.js
  src/pages/related-tools.js
Due: prettier --write

📸 Updated snapshot
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/pages/related-tools.js
Due: prettier --write

✨ Add brick 🧱 to Gitmoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

📝 Update contributing docs
  .github/CONTRIBUTING.md
Due: none

♻️ add color to 🧱
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

✨ Add brick 🧱 (#916)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:bug: Emoji code not working
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

🐛 Fix `bricks` name
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Introduce "Improve developer experience" emoji
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

:sparkles: Introduce "Improve developer experience" emoji (#925)
  src/__tests__/__snapshots__/pages.spec.js.snap
  src/components/GitmojiList/emojiColorsMap.js
  src/data/gitmojis.json
Due: prettier --write, jsonlint -V src/data/schema.json

⬆️ Bump `next-pwa`
  package.json
  yarn.lock
Due: prettier --write

⬆️ Bump `next-pwa` (#933)
  package.json
  yarn.lock
Due: prettier --write
